.container {
    border-radius: 10px;
    margin: 20px;
    justify-content: center;
    display: inline-block;
    transition: 1s;
    
}

.container:hover {
    transform:scale(0.99);
    color: rgba(236, 53, 206, 0.678);
    border: 1px solid rgba(236, 53, 206, 0.678);
}

.imagesArtistas {
    margin: 1rem;
}

.nombreArtista {
    font-size: 1.7rem;
    letter-spacing: .5px;
}

.textoCard {
    font-size: 1.5rem;
    letter-spacing: .5px;
}

.precioCard {
    font-size: 1.6rem;
    letter-spacing: .5px;
    color: black;
  }

.Descripcion {
    color: #1965ac;
    font-size: 1.2rem;
    letter-spacing: .5px;
    text-align: center;
    width: 300px;
    height: 50px;
    margin: 5px;

}

.producto {
    margin: .5rem;
}



.buttonCarrito {
    padding: 10px;
    margin: 1rem;
    border: 0;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: #1965ac;
    cursor: pointer;
    background-color: rgb(224, 235, 224);
}


.sumaResta {
    background-color: #1965ac;
    padding: 5px 10px;
    margin: 1rem;
    border: 0;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: .5px;
    text-decoration: none;
    color: #F5F5F5;
    cursor: pointer;
}

.counterCard {
    width: 10%;
    text-align: center;
}



