.artistaDetailContainer {
    height: 550px;
    width: auto;
    margin: 10px;
    background-color: rgba(17, 38, 146, 0.295);
    border: none;
    border-radius: .5%;

}

p {
    color: blanchedalmond;
}